body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.indiamart.com%2Fproddetail%2Fngo-institute-college-organization-website-14311591873.html&psig=AOvVaw02lZPkIB6PP8--E_Q8w-mX&ust=1649813244975000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCPDd3bWvjfcCFQAAAAAdAAAAABAD");
}